/*

font-family: 'Montserrat', sans-serif;
font-family: 'Libre Baskerville', serif;


WIdth will be 1200... but after 1200 make sure to add 20 px of padding to left and right of containers in media queries

*/

html {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  color: #313131;
}


/* Base Link */
a {
  color: #bf9f59;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* strong */
strong {
  font-weight: 700;
}

/* Headings */
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #313131;
  letter-spacing: 1px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 18px;
}

/* Paragraphs */

p {
  line-height: 1.5em;
  margin: 30px 0;
}


/* Buttons */

button, .btn,
input[type="submit"]{
  background: #bf9f59;
  padding: 20px;
  text-align: center;
  display: block;
  border: 0;
  color: #fff;
  width: 100%;
  display: block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin: 20px 0;
}

button:hover,
.btn:hover,
input[type="submit"]:hover {
  background: #212121;
  cursor: pointer;
}


/* Form */
label {
  display: block;
  padding: 10px 0 5px;
}
input[type="text"],
input[type="email"],
textarea {
  font-style: italic;
  font-size: 12px;
  color: #888;
  padding: 20px;
  border: 1px solid #dedede;
  display: block;
  width: 100%;
}


/* Default Page Title */

h2.pageTitle {
  font-size: 14px;
  text-align: center;
  background: #fff;
  border: 1px solid #dedede;
  outline: 5px solid #fff;
  padding: 15px;
  text-transform: uppercase;
  box-shadow: 0px 5px 15px #888888;
  margin-bottom: 38px;
}

.sub-heading{
  font-size: 14px;
  text-align: center;
  background: #212121;
  border: 1px solid #5a5a5a;
  outline: 5px solid #212121;
  padding: 15px;
  text-transform: uppercase;
  box-shadow: 0px 5px 15px #888888;
  margin-bottom: 38px;
  color: #fff;
}

.sub-heading:before,
.sub-heading:after,
.tag__item:before,
.tag__item:after {
  content: "\f111";
  font-family: fontAwesome;
  font-size: 8px;
  padding-top: 2px;
}


.sub-heading:before,
.tag__item:before {
  float: left;
}

.sub-heading:after,
.tag__item:after {
  float: right;
}

.content {
  background: #fff;
  box-shadow: 0px 0px 2px #888888;
  padding: 30px;
  margin: 0 0 40px;
}

.name {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 40px;
}


/* CODE BLOCK */

code {
  color: #586e75; /* dark grey */
}

.highlight {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}