* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$pad: 35px;
$betweenPad: 70px;

.grid {
  margin: 0 0 $pad 0;

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-right: $betweenPad;
  .grid &:last-of-type {
    padding-right: 0;
  }
  @media (max-width: 768px) {
    float: none;
    margin: 0 auto;
    padding-right: 0;
  }
}
[class*='l-left'] {
  float: left;
}
[class*='l-right'] {
  float: right;
}

.col-2-3 {
  width: 66.66%;
  @media (max-width: 768px) {
    width: 99%;
  }
}
.col-1-3 {
  width: 33.33%;
  @media (max-width: 768px) {
    width: 99%;
  }
}
.col-1-2 {
  width: 50%;
  @media (max-width: 768px) {
    width: 99%;
  }
}
.col-1-4 {
  width: 25%;
  @media (max-width: 768px) {
    width: 99%;
  }
}
.col-1-8 {
  width: 12.5%;
  @media (max-width: 768px) {
    width: 99%;
  }
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}