.about-me {
  background: url(../assets/img/border.jpg) no-repeat bottom center;
  text-align: center;
  padding-bottom: 50px;
  margin: 0 auto;
  display: block;
  width: 100%;
}

#home .post {
  padding: 0 30px;
}

#home .post__single:nth-child(2):after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Post */
.post__title {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #313131;
}

.post__single .post__title a {
  color: #313131;
}

.post__single .post__title a:hover {
  color: #bf9f59;
  text-decoration: none;
}

.post__date {
  font-size: 14px;
  color: #888888;
  font-style: italic;
  text-align: center;

}

.post img {
  max-width: 100%;
}

.post__read-more {
  display: inline-block;
  color: #bf9f59;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #dedede;
  padding: 15px 50px;
  margin: 0 auto;
  text-align: center;

}

/* Tags */


.tag__list {
  text-align: center;
  padding: 0px 0 25px;
}

.tag__item,
#tag-cloud a{
  display: inline-block;
  padding: 8px 10px;
  margin: 5px 8px 5px 0;
  background: #bf9f59;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.tag__item:hover,
#tag-cloud a:hover{
  text-decoration: none;
  background: #212121;
  color: #fff;
}

.tag__item:before,
#tag-cloud a:before{
  padding-right: 10px;
  font-size: 6px;
  padding-top: 5px;
}
.tag__item:after,
#tag-cloud a:after{
  padding-left: 10px;
  font-size: 6px;
  padding-top: 5px;
}