---
layout: page
---
<!doctype html>
<html lang="en">
{% include meta.html %}
<body class="secPage">
{% include header.html %}

<div class="content-container grid">
    <div class="col-2-3">
        <h2 class="pageTitle">{{ page.title }}</h2>
        <div class="content">
            {{ content }}
        </div>
    </div>
    <div class="col-1-3">
        <div class="content">
            <h3>Testing</h3>
            <h3>Testing</h3>
        </div>
    </div>
</div><!-- content-container -->

</body>
</html>