---
layout: post
---
<!doctype html>
<html lang="en">
{% include meta.html %}
<body class="secPage" id="post">
{% include header.html %}

<div class="content-container grid">
    <div class="col-2-3">
        <div class="content post">
            <div class="tag__list">
                {% for tag in page.tags%}
                <a class="tag__item" href="/tag/{{ tag | slugify: 'pretty' }}">{{ tag}}</a>
                {% endfor %}
            </div><!-- tag --list -->
            <h3 class="post__title">{{ page.title }}</h3>
            <p class="post__date">{{ page.date | date: "%B %-d %Y" }}</p>
            {{ content }}
        </div>
    </div>
    <div class="col-1-3">
        {% include sidebar.html %}
    </div>
</div><!-- content-container -->
{% include footer.html %}
{% include scripts.html %}
</body>
</html>